.slider{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.sliderImg{
    width: 570px;
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
}

.sliderImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.6s ease-in-out;
}

.sliderImg:hover img{
    transform: scale(1.1);
}

.sliderText{
    font-family: 'cygre-black', sans-serif;
    width: calc(100% - 570px);
}

.sliderText h3{
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    margin-bottom: 35px;
}

.sliderText p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    width: 460px;
}

.sliderText p + p{
    margin-top: 20px;
}

.bronButton{
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
    color: #4A0EB9;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
    cursor: pointer;
}

.bronButton img{
    width: 81px;
    height: 16px;
    transition: all 0.5s;
}

.bronButton:hover img{
    height: 16px;
    width: 120px;
    transform: scale(1.2);
}

.slidePortfilio{
    fill: #FFF;
    padding-bottom: 35px;
}

.slidePortfilioImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    cursor: pointer;
}

.slidePortfilioPlay{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.4);
    transition: all 0.5s;
    cursor: pointer;
}

.slidePortfilio:hover .slidePortfilioPlay{
    transform: translate(-50%, -50%) scale(1.8);
    fill: #4A0EB9;
}

@media (max-width: 1300px) {
    .slider{
        gap: 20px;
    }

    .sliderImg{
        width: 450px;
        height: 500px;
    }

    .sliderText{
        width: calc(100% - 500px);
    }

    .sliderText h3{
        font-size: 30px;
        margin-bottom: 25px;
    }

    .slidePortfilioPlay{
        transform: translate(-50%, -50%) scale(1);
    }

    .slidePortfilio:hover .slidePortfilioPlay{
        transform: translate(-50%, -50%) scale(1.3);
    }
}

@media (max-width:1000px) {
    .slider{
        flex-direction: column
    }

    .sliderText{
        width: 100%;
    }

    .sliderImg{
        width: 100%;
        height: 300px;
    }

    .sliderText p + p{
        margin-top: 15px;
    }


}

@media (max-width:768px) {
    .bronButton img{
        display: none;
    }

    .bronButton{
        padding: 18px 0;
        width: 100%;
        background: #4A0EB9;
        color: #FFF;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
    }

    .sliderText p{
        width: 100%;
        text-align: center;
    }

    .sliderText h3{
        text-align: center;
    }
}

@media (max-width:576px) {
    .sliderText p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
    }

    .sliderText h3{
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%;
    }

    .slidePortfilioPlay{
        transform: translate(-50%, -50%) scale(0.6);
    }

    .slidePortfilio:hover .slidePortfilioPlay{
        transform: translate(-50%, -50%) scale(0.7);
    }
}
