/* .kenost{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
}

.PhotoContainer{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
} */

.gallery{
    --wevkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    --webkit-column-width: 33%;
    --moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
    margin-top: 135px;
}

.pics{
    transition: all 0.4s ease;
    --webkit-transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 12px;
}

.pics:hover{
    filter: opacity(0.8);
}


.modelPhoto{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.95);
    transition: all 0.6s;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
}

.modelPhoto.open{
    opacity: 1;
    pointer-events: all;
}

.modelPhoto img{
    transform: scale(0.7);
    transition: all 0.4s;
    width: auto;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
    max-height: 100%;
}

.modelPhoto.open img{
    transform: scale(1);
}

.close{
    position: fixed;
    left: 0;
}

@media (max-width: 991px) {
    .gallery{
        --wevkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin-top: 100px;
    }
}
  
@media (max-width:576px) {
    .gallery{
        --wevkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        --webkit-column-width: 100%;
        --moz-column-width: 100%;
        column-width: 100%;
    }
}