.title{
    color: #4A0EB9;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 125%;
    font-family: 'cygre-black', sans-serif;
    padding: 60px 0 50px 0;
    max-width: 680px;
}